language: php

deploy:
  provider: pages
  skip_cleanup: true
  github_token: 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
  keep_history: true
  on:
    branch: main

sudo: required
services:
  - docker

env:
  COMPOSE_VERSION: 1.4.1

before_install:
 - echo "begin deploy"

script:
  - mv .env.example .env
  - cd code && composer install && cd ../
  - docker-compose build
  - docker-compose upo -d

notifications:
  email: true
